# Template for age-secret.yaml
# This file should be generated and encrypted with:
#
# cat << EOF > ./cluster/flux/flux-system/age-secret.yaml
# apiVersion: v1
# kind: Secret
# metadata:
#     name: sops-age
#     namespace: flux-system
# stringData:
#     age.agekey: $(cat ./.sops/age.agekey)
# EOF
#
# Then encrypt with:
# ./scripts/sops/encrypt.sh ./cluster/flux/flux-system/age-secret.yaml
